{% extends "base.html" %}

{% block title %}Excel to JSON Converter{% endblock %}

{% block content %}
<h2>Excel to JSON Converter</h2>

    <div class="container xls2json">
        <form action="/upload" method="post" enctype="multipart/form-data" class="text-center">
            <div class="mb-3">
                <input type="file" name="file" accept=".xlsx" required class="form-control">
            </div>
            <div class="form-text text-muted">
                Please note: Uploaded data will be deleted after conversion.
            </div>
            <button type="submit" class="btn btn-primary">Convert</button>
        </form>

        <div class="how-to">
            <h2>How To Use</h2>
            <ol>
                <li>Download the EXCEL Template for Your Laboratory Test Data (Click the "Download Template" button below).</li>
                <a href="{{ url_for('download_template') }}" class="btn btn-secondary">Download Template</a>
                <li>Fill in the Excel Template with your Laboratory Test Data.</li>
                <li>Click on the "Choose File" button to select your Excel file.</li>
                <li>After selecting the file, click the "Convert" button.</li>
                <li>The converted JSON data will be displayed in your browser.</li>
                <li>You can click the "Copy JSON to Clipboard" button to copy the JSON data.</li>
                <li>You can now add the Laboratory Test Data as JSON to your project.</li>
            </ol>
        </div>
        
    </div>
{% endblock %}